<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <application android:allowBackup="true" android:label="MFIX AutoPrint" android:theme="@style/Theme.MFIXAutoPrint">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <receiver android:name=".UsbPermissionReceiver" android:exported="false">
            <intent-filter><action android:name="com.mfix.autoprint.USB_PERMISSION"/></intent-filter>
        </receiver>
        <service android:name=".MFIXPrintService" android:permission="android.permission.BIND_PRINT_SERVICE" android:exported="true">
            <intent-filter><action android:name="android.printservice.PrintService"/></intent-filter>
            <meta-data android:name="android.printservice" android:resource="@xml/print_service"/>
        </service>
    </application>
</manifest>